.CLFFooter {
    text-align: center;
    color: rgb(0, 0, 128);
    margin-bottom: 100px;
    font-weight: 500;
  }
  
  .CLFHeader {
    color: rgb(0, 0, 128);
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 500;
  }
